* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a.navbar-brand > img {
  width: 20px;
}

.container.my-container {
  text-align: center;
}

.right.my-section {
  display: flex;
  justify-content: flex-end;
}
