* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a.navbar-brand > img {
  width: 20px;
}






/* .navbar {
    position: relative;
    min-height: none;
    margin-bottom: 0;
    border: 1px solid transparent;
}

.navbar-default {
    background-color: transparent;
    border-color: none;
}


.navbar-brand {
    float: left;
    height: 50px;
    padding: 25px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 25px;
    margin-right: -10px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: blue;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
  padding-top: 25px;
}

.navbar-default .navbar-nav>li>a {
    padding-top: 30px;
    color: #555;
} */ 
